.tecnologia-bg {
    background-color: var(--cor-11);
    box-shadow: inset 0px 80px var(--cor-0), inset 0px -80px var(--cor-0);

}

.tecnologia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tecnologia-imagem img { 
    height: 100%;/* Para a img ter sempre a altura máxima do conteúdo, isso gera um problema, que é a foto distorcer (Podemos usar o object-fit: cover*/
    object-fit: cover; /* Nâo vai deixar a foto distorcer, mas vai começar a cortar a foto. Podemos, então, ajustar com o object-position: left*/
    object-position: left; /* Alinha o objeto a esquerda */
    width: 100%;
}

.tecnologia-conteudo {
    padding-top: 160px;
    padding-bottom: 160px;
}

.tecnologia-conteudo > span {
    display: block; /* Foi necessário tornar display: block, porque o span é um elemento display inline e, por isso, não aceita a margin.*/
    margin-bottom: 20px;
}

.tecnologia-conteudo h2 {
    margin-bottom: 32px;
}

.tecnologia-conteudo > p {
    margin-bottom: 20px;
}

.tecnologia-conteudo a {
    margin-bottom: 80px;
}

.tecnologia-vantagens {
    display: flex;
    gap: 40px;
}

.tecnologia-vantagens h3 {
    margin-bottom: 8px;
    width: max-content; /* Não deixa o conteúdo quebrar */
}

.tecnologia-vantagens img {
    width: 24px;
    margin-bottom: 8px;
}

@media (max-width: 800px) {

    .tecnologia-bg {
        box-shadow: initial; /* Comando para retirar o valor do box-shadow e retornar ao valor inicial */
    }

    .tecnologia {
        display: grid;
        grid-template-columns: 1fr;
    }

    .tecnologia-conteudo {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .tecnologia-imagem {
        display: none; /* Oculta a imagem */
    }

    .tecnologia a {
        margin-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .tecnologia-vantagens {
        flex-direction: column; /* Por padrão. ele fica em linha */
    }
}